<!DOCTYPE html>
<head>
  <title>Women Safety Forum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>
<body>
  <div class="ui container">
    <h1>
      Grievance Redressal Forum
    </h1>
    <form class="ui reply form">
      <div class="field">
        <textarea id="post-box" ></textarea>
      </div>
      <div class="ui blue labeled submit icon button right floated" id="submit-post">
        <i class="icon edit"></i> Add Post
      </div>
    </form>
<!--     <h2>
      Posts
    </h2>
    <p class="ui items" id="posts">
      
    </p> -->
    
  </div>

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
  <script>
    var username,feed;
    $(document).ready(function(){
      $.ajax({
          type: 'POST',
          url: '/profile/getdata',
          success: function(data){
            username = data.username;
          }
        });
      $.ajax({
          type: 'GET',
          url: '/retrieve_feed',
          success: function(data){
            console.log(data);
            feed = data.username;
            $(data).append("#posts");
          }
        });
      
       $('#submit-post').click(function(){
        data = {
          username:username,
          body:$('#post-box').val(),
        }
        if(!data.body){
          $('#post-box').focus();
          return;
        }
        $.ajax({
          type: 'POST',
          url: '/forum/submit_post',
          data,
          success: function(data){
            window.location.reload();
          }
        });
         
         
      });
    });
   
  </script>
</body>
