<!DOCTYPE html>
<head>
  <title>Women Safety Forum</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
</head>
<body>
  
  <div class="ui container">
    <div class="ui feed">
    <% for(let post of feed.posts){%>
      <div class="event">
        <div class="label">
          <img src="/images/avatar/small/joe.jpg">
        </div>
        <div class="content">
          <div class="summary">
            <a>Joe Henderson</a> posted on his page
          <div class="date">
            3 days ago
          </div>
          </div>
          <div class="extra text">
          Ours is a life of constant reruns. We're always circling back to where we'd we started, then starting all over again. Even if we don't run extra laps that day, we surely will come back for more of the same another day soon.
          </div>
          <div class="meta">
            <a class="like">
              <i class="like icon"></i> 5 Likes
            </a>
          </div>
        </div>
      </div>
    <% }%>
    </div>
  </div>

  
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.js"></script>
</body>
