<html>
    <head>
        <title>Todo List</title>
        <script
  src="http://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
        <script src="/assets/todo-list.js"></script>
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <ul>
                <% for(let todo of todos){ %>
                    <li><%=todo%></li>
                <% } %>
            </ul>
        </div>
    </body>
</html>