<html>
    <head>
        <title>Todo List</title>
    </head>
    <body>
        <h1>My Todo List</h1>
        <div id="todo-table">
            <ul>
                <% for(let todo of todos){ %>
                    <li><%=todo%></li>
                <% } %>
            </ul>
        </div>
      <button type="button" id="abc">
        get loc
      </button>
      <div id="output">
        
      </div>
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
      <script type="text/javascript">
        var position,url;
        $(document).ready(function(){
            $("#abc").click(function(){
                navigator.geolocation.getCurrentPosition(function(pos){
                  position= pos;
                  url=`http://www.google.com/maps/place/${pos.coords.latitude},${pos.coords.longitude}`
                });  
            });
        });
        
        // if (navigator.geolocation) { //check if geolocation is available
        //     navigator.geolocation.getCurrentPosition(function(position){
        //       console.log(position);
        //     });   
        // }
        // $.get( "http://maps.googleapis.com/maps/api/geocode/json?latlng="+ position.coords.latitude + "," + position.coords.longitude +"&sensor=false", function(data) {
        //   console.log(data);
        // })
        // var img = new Image();
        // img.src = "https://maps.googleapis.com/maps/api/staticmap?center=" + position.coords.latitude + "," + position.coords.longitude + "&zoom=13&size=800x400&sensor=false";
        // $('#output').html(img);
      </script>
    </body>
</html>