<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Women Safety</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <style>
        html {
            margin: 0;
            padding: 0;
        }
        body {
            margin: 0;
            padding: 0;
        }
      #cab-link{
        color: white;
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://women.glitch.me">Women Safety</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a id='home-link'>Home</a></li>
                    <li><a id='forum-link'>Forum</a></li>
                    <li><a id='profile-link'>Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><div id="google_translate_element"></div></li>
                    <li><a id="accname"></a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="/auth/logout">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div class="content">
        <div class="container">
            <div id="home-page">
              <center><h2>Emergency Contact</h2>
              <img height=200 width=200 src="https://cdn.glitch.com/9d8fbfbd-b303-462a-b9f1-4dae8df40e09%2Femgaccount.png?1537611376668">
              <h2>Name: <span id="homeemgname"></span></h2>
              <h2>Phone: <span id="homeemgphone"></span></h2>
              <button type="button" id="contact-button" class="btn btn-danger">NOTIFY</button>
              <br>
              <br>
              <br>
                <button type="button" id="cab-button" class="btn btn-danger"><a id="cab-link" href="https://www.olacabs.com/" target="_blank" >Book a Cab</a></button></center>
            </div>
            <div id="forum-page">
              <iframe height=600 width=1200 src="/forum">
              </iframe>
            </div>
            <div id="profile-page">
               <form id="registration-form" class="col-lg-12">
                 <div class="col-lg-6">
                   <h2>
                      Personal Details
                   </h2>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" placeholder="Full Name" type="text" id="name" name="name"
                               maxlength="30"/>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input class="form-control" placeholder="E-mail" type="email" id="email" name="email"
                               maxlength="32"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input class="form-control" placeholder="Phone" type="number" id="phone" name="phone"
                               maxlength="10"/>
                    </div> 
                    <div class="form-group">
                        <label for="Address">Address:</label>
                        <input class="form-control" placeholder="Address" type="text" id="address" name="address">
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <h2>
                      Emergency Contact Details
                    </h2>
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input class="form-control" placeholder="Full Name" type="text" id="emg-name" name="emg-name"
                               maxlength="30"/>
                    </div>
                    <div class="form-group">
                        <label for="email">E-mail:</label>
                        <input class="form-control" placeholder="E-mail" type="email" id="emg-email" name="emg-email"
                               maxlength="32"/>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone:</label>
                        <input class="form-control" placeholder="Phone" type="number" id="emg-phone" name="emg-phone"
                               maxlength="10"/>
                    </div>
                    <button type="button" id="verify-phone-button" class="btn btn-danger">Verify Phone</button>
                 </div>
                 <div class="col-lg-12">
                   <div class="alert alert-success" id="verification-alert">
                    <strong>Your verification code is: </strong><span id="verification-code"></span> 
                   </div>
                 </div>
              </form>
              <center><button type="button" id="submit-form" class="btn btn-success">Submit Details</button></center>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,gu,hi,kn,ml,pa,ta,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
  </script>
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript">
        var useremail = '';
        var username = '';
        var emgcontact;
        var position,url;
    
        function getloc(){
         navigator.geolocation.getCurrentPosition(function(pos){
          position= pos;
          url=`http://www.google.com/maps/place/${pos.coords.latitude},${pos.coords.longitude}`
          return url;
        });  
        }
        $(document).ready(function(){
          $("#forum-page").hide();
          $("#profile-page").hide();
          $("#verification-alert").hide();
          $.ajax({
              type: 'POST',
              url: '/profile/getdata',
              success: function(data){
                //do something with the data via front-end framework
                // console.log(data);
                username = data.username;
                useremail = data.email;
                emgcontact = data.emgphone;
                $('#name').val(data.username);
                $('#phone').val(data.phone);
                $('#email').val(data.email);
                $('#address').val(data.address);
                $('#emg-name').val(data.emgname);
                $('#emg-phone').val(data.emgphone);
                $('#emg-email').val(data.emgemail);
                $('#homeemgname').html(data.emgname);
                $('#homeemgphone').html(data.emgphone);
                $('#accname').html(data.username);
              }
            });
          
          $("#home-link").click(function(){
            $("#profile-page").hide();
            $("#forum-page").hide();
            $("#home-page").show();
          });
          
          $("#forum-link").click(function(){
            $("#profile-page").hide();
            $("#home-page").hide();
            $("#forum-page").show();
          });
          
          $("#profile-link").click(function(){
            $("#home-page").hide();
            $("#forum-page").hide();
            $("#profile-page").show();
          });
          
          //post request to send sms to emg contact
          $('#contact-button').click(function(){
            $.ajax({
              type: 'POST',
              url: '/send_sms',
              data: {phone:emgcontact,location:getloc()},
              success: function(data){
                //do something with the data via front-end framework
                console.log(data);
                alert("Emergency person contacted!! Help is on the way!!");
              }
            });
          });
          
          //post request to verify phone
          $('#verify-phone-button').click(function(){
            console.log($('#emg-name').val());
            $.ajax({
              type: 'POST',
              url: '/verify_phone',
              data: {name:$('#emg-name').val(),phone:$('#emg-phone').val()},
              success: function(data){
                //do something with the data via front-end framework
                $("#verification-alert").show();
                $('#verification-code').html(data);
              }
            });
          });
          
          //post request to submit the form details
          $('#submit-form').click(function(){
            $.ajax({
              type: 'POST',
              url: '/submit_profile',
              data: {
                username:$('#name').val(),
                phone:$('#phone').val(),
                email:$('#email').val(),
                address:$('#address').val(),
                emgname:$('#emg-name').val(),
                emgphone:$('#emg-phone').val(),
                emgemail:$('#emg-email').val()
              },
              success: function(data){
                //do something with the data via front-end framework
                console.log("successfully changed");
              }
            });
          });
          
            // $("#abc").click(function(){
                // navigator.geolocation.getCurrentPosition(function(pos){
                //   position= pos;
                //   url=`http://www.google.com/maps/place/${pos.coords.latitude},${pos.coords.longitude}`
                //   console.log(url);
                // });  
            // });
        });
        
        // if (navigator.geolocation) { //check if geolocation is available
        //     navigator.geolocation.getCurrentPosition(function(position){
        //       console.log(position);
        //     });   
        // }
     
      </script>
</body>

</html>

